@media (max-width: 1050px) {
	html{
		font-size: 8px;
	}
  .promo{
  	margin-bottom: auto;
  }
}

@media (max-width: 830px) {
	html{
		font-size: 8px;
	}
	.header-top{
		width: 85vw;
	}
	.visible-condition{
		display: none;
	}
	.m-menu-link{
		display: block;
	}
  .promo{
  	margin-bottom: auto;
  }
  .content-align{
  	width: 85vw;
  }
  .feature-item{
  	width: 100%;
  }
  .grid-feedback-tip{
  	-webkit-flex-direction: column;
  	-moz-flex-direction: column;
  	-ms-flex-direction: column;
  	-o-flex-direction: column;
  	flex-direction: column;
  	-ms-align-items: flex-start;
  	align-items: flex-start;
  }
  .feedback-form{
  	width: 40vw;
  }
}