html{
	font-size: 10px;
}
.main-content{
	max-width: 128rem;
	margin: auto;
	background-color: #eeeeee;
}
.page-header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	background: url(../img/promo.jpg) no-repeat;
	background-size: 100%;
	max-width: 128rem;
	min-height: 38.5vw;
	border: 1px solid rgba(255, 255, 255, 0);
}
.header-top{
	border: 1px solid red;
	align-self: flex-start;
	width: 75vw;
	min-height: 6rem;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3.2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo{
	max-width: 23%;	
}
.menu{
	width: 50vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu-item{
	font-family: Arial, sans-serif;
	font-size: 1.8rem;
	line-height: 2.4rem;
	text-transform: uppercase;
}
.menu-item:hover{
	border-bottom: 2px solid #fff;
}
.menu-item:active{
	color: #737373;
	border-color: #737373;
}
.batton{
	font-family: Arial, sans-serif;
	font-size: 1.8rem;
	line-height: 2.4rem;
	border: 2px solid #fff;
	border-radius: 3px;
	width: 16.5rem;
	text-transform: uppercase;
	text-align: center;
	padding: 1.1rem 0;
	color: #fff;
	text-decoration: none;
}
.batton_ghost:hover{
	background-color: #fff;
	color: #000;
}
.batton_ghost:active{
	background-color: #fff;
	color:#c5c5c5;
}
.m-menu{
	position: fixed;
	z-index: 99;
	top: 0;
	right: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to top,#eeeeee, #a38b70);
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}
.m-menu a{
	font-size: 3rem;
	margin-bottom: 2rem;
}
.m-menu_active{
	-webkit-transform: translateX(0%);
	-ms-transform: translateX(0%);
	-o-transform: translateX(0%);
	transform: translateX(0%);
}
.close-m-menu{
	position: fixed;
	top: 10%;
	right: 10%;
	font-weight: bold;
	color: #fff;
}
.close-m-menu:hover{
	cursor: pointer;
}
.m-menu-link{
	display: none;
	position: relative;
	width: 50px;
	height: 50px;
}
.menu-burger,
.menu-burger::before,
.menu-burger::after{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -1px;
  margin-left: -10px;
	width: 20px; 
	height: 2px;
	background-color: #fff;
}
.menu-burger::before{
	content: '';
	transform: translateY(-5px);
}
.menu-burger::after{
	content: '';
	transform: translateY(5px);
}
.promo{
	align-self: center;
	margin-bottom: 11.6vw;
	border: 1px solid red;
	font-family: Georgia, sans-serif;
	font-weight: bold;
	font-size: 4.5rem;
	line-height: 5.5rem;
	text-align: center;
}
._link-theme{
	color: #fff;
	text-decoration: none;
}
.content-align{
	max-width: 102.1rem;
	margin-left: auto;
	margin-right: auto;
}
.features{
	background-color: #fff;
	margin-top: -0.2rem;
	padding-bottom: 5.5rem;
	padding-top: 5rem;
}
.feature-item{
	display: inline-block;
	margin-right: -0.5rem;
	width: 34rem;
	font-family: Arial, sans-serif;
	font-size: 1.6rem;
	line-height: 2.4rem;
	text-align: center;
	list-style: none;
	border-right: 2px solid #d9d9d9;
}
.feature-item_icon1{
	background: url(../img/features.png) no-repeat 137px 0;
}
.feature-item_icon2{
	background: url(../img/features.png) no-repeat -202px 0;
}
.feature-item_icon3{
	background: url(../img/features.png) no-repeat -542px 0;
}
.feature-item__feature-header{
	font-family: Georgia, sans-serif;
	font-size: 3rem;
	font-weight: bold;
	line-height: 3rem;
	color: #a38b70;
	margin-top: 9rem;
	margin-bottom: 1.8rem;
}
.articles{
	padding-top: 7.2rem;
	padding-bottom: 2rem;
}
.section-header{
	display: inline-block;
	font-family: Georgia, serif;
	font-size: 4.5rem;
	font-weight: bold;
	line-height: 5.5rem;
	color: #a38b70;
	margin-bottom: 6rem;
}
.batton_theme-brown{
	float: right;
	border: 2px solid #a38b70;
	color: #a38b70;
}
.batton_theme-articles{
	margin-top: 6px;
}
.batton_theme-brown:hover{
	border-color: #8d745a;
	color: #8d745a;
}
.batton_theme-brown:active{
  color: #ddd5cd;
  border-color: #8d745a;
}
.article{
	position: relative;
	margin-bottom: 7rem;
	font-family: Arial, sans-serif;
	font-size: 1.6rem;
	min-height: 13.5rem;
}
.article__header{
	display: flex;
	align-items: baseline;
	font-size: 2.4rem;
	font-weight: bold;
}
.origin{
	margin-left: 0.5rem;
	font-size: 1.6rem;
	font-style: italic;
	font-weight: normal;
	color: #666;
}
.exit-link{
	color: #a38b70;
}
.exit-link:hover{
  color: #8d745a;
}
.exit-link:active{
  color: #ddd5cd;	
}
.article__image{
	position: absolute;
	top: 3.8rem;
}
.article__info{
	color: #404040;
	line-height: 2.4rem;
	margin-top: 1.4rem;
	margin-left: 13rem;
	max-width: 68.6rem;
}
.reviews{
	background-color: #fff;
	padding-top: 7.4rem;
	padding-bottom: 9.2rem;
}
.review-item{
	display: inline-block;
	width: 50.8rem;
	margin-right: -0.5rem;
	font-family: Arial, sans-serif;
	font-size: 1.6rem;
	line-height: 2.4rem;
	border-left: 3px solid #a38b70;
}
.review-item__info{
	color: #404040;
	padding-left: 5.2rem;
	max-width: 37rem;
}
.review-item__contact{
	padding-left: 5.2rem;
	margin-top: 1.2rem;
	font-style: italic;
	font-weight: bold;
}
.popular-and-price{
	padding-top: 7rem;
	padding-bottom: 9rem;
}
.popular-items{
	display: flex;
	justify-content: space-between;
}
.popular-item{
	display: flex;
	flex-wrap: wrap;
	max-width: 30.5rem;
	max-height: 33rem;
	font-family: Arial, sans-serif;
	font-size: 1.6rem;
	line-height: 2.4rem;
	font-weight: bold;
	border: 1px solid #d8d8d8;
}
.popular-item__name{
	display: inline-block;
	margin-top: 1rem;
	margin-left: 2.2rem;
}
.popular-item__price{
	float: right;
	margin-top: 1rem;
	margin-right: 2.2rem;
}
.popular-item__footer{
	display: flex;
	margin-top: 1.8rem;
	margin-bottom: 1.8rem;
}
.batton_theme-fully-brown{
	max-width: 12.2rem;
  background-color: #a38b70;
  border: 2px solid #a38b70;
  border-radius: 2px;
}
.batton_theme-fully-brown:first-child{
	margin-left: 2.2rem;
	margin-right: 1rem;
}
.batton_theme-fully-brown:hover{
  background-color: #8d745a;
}
.batton_theme-fully-brown:active{
	color: #af9e8c;
	background-color: #8d745a;
}
.section-header_pricelist-align{
	margin-top: 4.8rem;
	margin-bottom: 6.5rem;
}
.price-list{
	width: 100%;
	border-collapse: collapse;
	font-family: Arial, sans-serif;
	font-size: 1.8rem;
	line-height: 3rem;
	color: #404040;
}
td{
	border: 1px solid #d8d8d8;
	padding: 1rem 2rem;
}
.price-list__table-header{
	font-size: 1.4rem;
	text-transform: uppercase;
	text-align: left;
}
th{
	padding: 0.8rem 2rem;
}
.price-list__price-number{
	text-align: center;
	padding: 0.5rem 0.5rem;
	width: 5%;
}
.price-list__price-name{
	font-weight: bold;
	color: #000;
	width: 45%;
}
.price-list__price{
	width: 16.7%;
}
.feedback{
	background-color: #fff;
	padding-top: 6rem;
	padding-bottom: 7rem;
	background: url("../img/feedback-image.png") no-repeat 86% 57%;
	background-color: #fff;
}
.feedback__tip{
	font-family: Arial, sans-serif;
	color: #404040;
	float: right;
	margin-top: 1.5rem;
	font-size: 1.6rem;
	line-height: 2.4rem;
}
.feedback-form{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 61.5%;
	font-family: Arial, sans-serif;
	font-size: 1.2rem;
	color: #404040;
}
.feedback-form_full-width{
	width: 100%;
	margin-bottom: 1.5rem;
}
.feedback-form_half-width{
	width: 46%;
	margin-bottom: 2rem;
}
.feedback-form__label{
	display: block;
	text-transform: uppercase;
	padding-left: 2rem;
	padding-bottom: 1.2rem;
	padding-top: 1rem;
}
.feedback-form__input{
	width: 100%;
	box-sizing: border-box;
	padding: 1.5rem 0rem 1.5rem 1.8rem;
	font-size: 1.8rem;
	border-color: #d5d5d5;
}
.feedback-form__input:hover{
	border-color: #bebebe;
}
.feedback-form__input:active{
	border-color: #8d745a;
}
.feedback-form__label-checkbox{
	font-size: 1.8rem;
	line-height: 3rem;
	text-transform: none;
}
.feedback-form__checkbox{
	display: inline-block;
	margin-right: 2rem;
	transform: scale(2.4);
	cursor: pointer;
	margin-bottom: 0rem;
}
.horizontal-line{
	flex-grow: 1;
	margin-bottom: 1.5rem;
}
.feedback-form_select{
	padding: 1.2rem 0rem 1.6rem 1rem;
}
.feedback-form_textarea{
	padding: 2.2rem 0rem 1.8rem 1.8rem;
}
.batton_form-theme{
	max-width: 14.6rem;
	margin-top: 3.6rem;
}
.page-footer{ 
	padding-top: 4.5rem;
	padding-bottom: 5rem;
	background-color: #363636;
}
.footer-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4rem;
}
.horizontal-line_footer-theme{
	background-color: #5e5e5e;
}
.footer-navigation_flex-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.footer-navigation{
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
	margin-right: 6rem;
	margin-bottom: 3rem;
	padding-top: 2rem;
	font-family: Arial,sans-serif;
	font-size: 1.6rem;
}
.footer-navigation__item{
	margin-bottom: 2.5rem;
	color: #c3c3c3;
}
.footer-navigation__item:hover{
	color: #fff;
}
.footer-navigation__item:active{
	color: #737373;
}
.footer-nav__header{
	font-family: Georgia, serif;
	font-size: 2.4rem;
	line-height: auto;
	font-weight: bold;
	color: #a38b70;
	margin-bottom: 2.3rem;
}
.footer-bottom{
	margin-top: 5rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	font-family: Areal, serif;
	font-size: 2.2rem;
}
.social-link{
	display: flex;
	justify-content: space-between;
	width: 32rem;
	color: #c3c3c3;
}
.social-link li:hover{
	border-bottom: 2px solid #a38b71;
}
.social-link li:active{
	border-bottom: 2px solid #a38b71;
	color: #737373;
}
.footer-copyright{
	margin-top: 2rem;
	color: #c3c3c3;
}
.copyright-link:hover{
	border-bottom: 2px solid #a38b71;
}
.copyright-link:active{
	border-bottom: 2px solid #a38b71;
	color: #737373;
}